.container
  Welcome to world's first Interactive Radio Station
  .row
    .col-md-2.new-songs
      .top-section
        %span.fbold
          Top Songs
       
    .col-md-7
      This is is the list of songs
    .col-md-3
      This is the area for managing song lists

