each play_list in play_lists
  li.play-list.clearfix
    .thumbnail
      a(href="#playlist/{play_list.id}")
        span.video-thumb
          span.video-default
            span.video-clip
              img(src=song.image_url, alt='Thumbnail')
              span.valign
    .s-content
      h3.title
        a
          span= song.title
      .description
        span= song.description
