// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-songs {
  position: relative;
  .top-section {
    position: absolute;
    top: 0;
  }
}
.fbold {
  font-weight: bold;
}

ol.song-list, ol.play-lists {
  list-style: none;
  position: relative;
  div, li, span, a, img, h3, ul {
    margin: 0;
    border: 0;
    background: transparent;
    font-size: 100%;
    cursor: pointer;
  }

  li.clearfix {
    &:before, &:after {
      content: '.';
      display: block;
      height: 0;
      visibility: hidden;
    }
    &:after {
      clear: both;
    }
  }

  li.song, li.play-list {
    padding: 10px 15px 10px 0px;
    max-width: 705px;
    font-size: 12px;
    color: #555;
    
    .s-content {
      overflow: hidden;
      .title {
        font-size: 14px;
        margin-top: 5px;
        a {
          color: #1b7fcc;
          max-height: 2.6em;
          display: block;
          line-height: 1.3em;
          white-space: normal;
          text-decoration: none;
        }
      }
      .description {
        line-height: 1.3em;
        word-wrap: break-word;
        margin: 5px 0 0;
        max-height: 2.6em;
        overflow: hidden;
        white-space: normal;
        span {
          display: block;
          word-wrap: break-word;
        }
      }
    }
    .thumbnail {
      float: left;
      margin-right: 10px;
      width: 185px;
      text-align: right;
    
      a {
        text-decoration: none;
        position: relative;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
        color: #1b7fcc;
        
        span.video-thumb {
          opacity: .7;
          position: relative;
          width: 185px;
          overflow: hidden;
          background: #f1f1f1;
          font-size: 0;
          vertical-align: middle;
          display: inline-block;
          
          span.video-default {
            padding-bottom: 56.25%;
            display: block;
            height: auto;
            
            span.video-clip {
              position: absolute;
              bottom: -100px;
              top: -100px;
              left: -100px;
              right: -100px;
              text-align: center;
              white-space: nowrap;
              word-break: normal;
              
              img {
                font-size: 13px;
                outline: none;
                display: inline-block;
                vertical-align: middle;
                width: 185px;
              }
              span.valign {
                display: inline-block;
                vertical-align: middle;
                height: 100%;
              }
            }
          }
        }
      }
    } //Closes the thumbnail
  } // closes li
}

#playlist {
  .section {
    position: fixed;
    top: 5px;
  }
}

.more-songs {
  width: 100%;
  background-image: url('/assets/fb_loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em 0 2em;
}

#eof {
  height: 10em;
}
.player-box {
  text-align: center;
  .player-controls {
    display: none;
    table {
      width: 100%;
      margin-top: 8px;
      td.select-songs {
        font-weight: bold;
      }
      td.uncheck, td.liked {
        cursor: pointer;
      }
      td.liked {
        label {
          font-weight: normal;
        }
      }
      td {
        width: 33.33%;
        &:first-child {
          text-align: left;
          padding-left: 10px;
        }
        &:last-child {
          text-align: right;
          padding-right: 10px;
        }
      }
    }
  }
  #player {
    display: inline-block;
    margin: 10px 0 10px;
    height: 0px;
  }
}
.app-title {
  text-align: center;
  border: thin solid #ddd;
  background-image: url('/assets/vallam.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 37px;
  padding: 10px 80px;
  display: inline-block;
}
.fb-login-box {
  display: none;
}
.app-info {
  border-bottom: thin solid #ddd;
  line-height: 20px;
  margin-top: -21px;
  .about {
    margin-left: 25px;
  }
  .contact {
    margin-right: 25px;
  }
}

